NEXT_PUBLIC_SUPABASE_URL="https://zthtybshrdyejzzfroav.supabase.co"
NEXT_PUBLIC_SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0aHR5YnNocmR5ZWp6emZyb2F2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU2NzE2NzUsImV4cCI6MjA2MTI0NzY3NX0.DX8ues125aAMQbgWfvxldStImtqR7SkQXmy3SKO7CHI"