@import "tailwindcss";

@theme {
  --color-var-blue: #3b82f6;
  --color-var-black-transparent: rgba(0, 0, 0, 0.799);
  --color-var-white-transparent: rgba(255, 255, 255, 0.8);
}

@layer base {
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body,
  html {
    height: 100%;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}